[Desktop Entry]
Name=Nicoin Core
Comment=Connect to the Nicoin P2P Network
Comment[de]=Verbinde mit dem Nicoin peer-to-peer Netzwerk
Comment[fr]=Nicoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nicoin, eşten eşe kriptografik sanal para birimi
Exec=nicoin-qt %u
Terminal=false
Type=Application
Icon=nicoin128
MimeType=x-scheme-handler/nicoin;
Categories=Office;Finance;
